body {
  max-width: 60em;

  color: var(--primary-color);
  background-color: #fafcfe;

  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-color: hsl(230, 58%, 93%);
  --primary-color: hsl(230, 58%, 30%);
  --secondary-color: hsl(232, 47%, 50%);
  --accent-color-1: hsl(230, 58%, 75%);
  --accent-color-2: hsl(210, 66.7%, 98.8%);
}
